<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- author -->
<meta name="author" content="{{ .Site.Author.name }}" />

{{/* Generate page description. */}}
{{ $desc := "" }}
{{ if .Params.summary }}
    {{ $desc = .Params.summary }}
{{ else if .Params.abstract }}
    {{ $desc = .Params.abstract }}
{{ else if and .Summary .IsPage }}
    {{ $desc = .Summary }}
{{ else if site.Params.description }}
    {{ $desc = site.Params.description }}
{{ end }}
<meta name="description" content="{{ $desc }}" />
<meta
    property="og:title"
    content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ site.Title }}"
/>
<meta property="og:description" content="{{ $desc }}" />

{{ if .IsPage }}
    {{ with .Resources }}
        {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
            {{ $cover := .Fill "600x400 smart" }}
            {{ with $cover }}
                <meta property="og:type" content="article" />
                <meta
                    property="og:image"
                    content="{{ .RelPermalink }}"
                />
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}


<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">

<!-- keywords -->
{{ if .Keywords }}
    <meta
        name="keywords"
        content="{{ range $key, $value := .Keywords }}{{ $value }}{{ end }}"
    />
{{ else }}
    <meta
        name="keywords"
        content="{{ range $key, $value := .Site.Params.keywords }}
            {{ $value }}
        {{ end }}"
    />
{{ end }}


<!-- permalink -->
<link rel="canonical" href="{{ .RelPermalink }}" />

<!-- rss -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}


<!-- site title -->
{{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
{{ else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ end }}


<!-- style -->

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true "transpiler" "dartsass" ) }}
{{ $style := resources.Get "css/main.scss" | resources.ToCSS $options | resources.Fingerprint }}

<!-- SECTION: CSS -->
{{ $inServerMode := .Site.IsServer }}
{{ $sass         := resources.Get "css/main.scss" }}
{{ $sassIncludes := (slice "assets/css") }}
{{ $cssTarget    := "css/styles.css" }}
{{ $cssOpts      := cond ($inServerMode) (dict "transpiler" "dartsass" "targetPath" $cssTarget "enableSourceMap" true "includePaths" $sassIncludes) (dict "transpiler" "dartsass" "targetPath" $cssTarget "includePaths" $sassIncludes "outputStyle" "compressed") }}

{{ if or ($inServerMode) (eq .Site.Params.env "LOCAL") }}

{{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" media="screen">
{{ else }}

{{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts | resources.PostCSS | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" media="screen">
{{ end }}

<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ $desc }}" />
