.covered-index {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.covered-post {
    flex: 0 0 48%;
    margin: 0 1% 30px;
}

.post-cover img {
    max-width: 100%;
}

.covered-index .post > h2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

.covered-index .post > h2 > time {
    font-size: 16px;
    font-weight: normal;
}

.covered-index .post-keywords {
    font-size: 0.8em;
    color: #666;
}
.covered-index .post-keywords a {
    color: var(--secondary);
    opacity: 0.7;
}

#main > h1 {
    text-align: center;
    margin: 20px 0 50px;
}

#main > .post > .content {
    padding-top: 1rem;
}

@media screen and (max-width: 560px) {
    .covered-post {
        flex: 0 0 100%;
        margin-bottom: 50px;
    }
    .covered-index .post > h2 {
        font-size: 1.4em;
    }
}
