#main > h1 {
    text-align: center;
    margin: 20px 0 10px;
}

#main > .post-date {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--secondary);
    margin-bottom: 20px;
}

#main > .post-date.with-tags {
    margin-bottom: 0px;
}

#main > div + .content {
    padding-top: 1rem;
}

#main .post-keywords {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 20px;
}

#main .post-keywords a, #main .post-keywords span {
    color: var(--secondary);
    opacity: .7;
    margin: 0 4px;
}
