{{- $src := .Get "src" -}}
{{- $id := printf "%d-gallery-%d" .Parent.Ordinal .Ordinal -}}
{{- $src := $.Get "src" -}}
{{- $img := $.Page.Resources.GetMatch $src -}}

<div class="gallery-item">
    <input
        type="radio"
        id="{{ $id }}"
        {{ if eq .Ordinal 0 }}checked="checked"{{ end }}
            name="gallery{{.Parent.Ordinal}}"
        class="gallery-selector"
    />
    <div class="gallery-img">
        <img src="{{ path.Base $img }}" alt="" />
        {{ with .Get "caption" }}
            <div class="gallery-caption">{{ . }}</div>
        {{ end }}
    </div>
    <label
        for="{{ $id }}"
        class="gallery-thumb"
        style="background-image: url({{ path.Base $img }});"
    ></label>
</div>
